body {
  line-height: 1.6;
  font-size: 16px;
  background: #0d0d0d;
  color: #e5e5e5;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1.2em 0;
}
td, th {
  border: 1px solid #444;
  padding: 0.6em 0.8em;
}
h1, h2, h3, h4 {
  color: #d4af37;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
}
p, ul, ol, pre {
  margin-bottom: 1em;
}
